<a href="https://colab.research.google.com/github/krishbhowmick/Pandas_DataFrame/blob/main/Python_Pandas1.1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Pandas documentry go to this website-https://pandas.pydata.org/pandas-docs/version/0.25.3/

geeksforgeeks-python-pandas-dataframe-- https://www.geeksforgeeks.org/python-pandas-dataframe/

dataquest-pandas-cheat-sheet-- https://www.dataquest.io/blog/pandas-cheat-sheet/

# **Importing Data**
Use these commands to import data from a variety of different sources and formats.

* **pd.read_csv(filename) |** From a CSV file
* **pd.read_table(filename) |** From a delimited text file (like TSV)
* **pd.read_excel(filename) |** From an Excel file
* **pd.read_sql(query, connection_object) |** Read from a SQL table/database
* **pd.read_json(json_string) |** Read from a JSON formatted string, URL or file.
* **pd.read_html(url) |** Parses an html URL, string or file and extracts tables to a list of dataframes
* **pd.read_clipboard() |** Takes the contents of your clipboard and passes it to read_table()
* **pd.DataFrame(dict) |** From a dict, keys for columns names, values for data as lists

# **Exporting Data**
Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

* **df.to_csv(filename) |** Write to a CSV file
* **df.to_excel(filename) |** Write to an Excel file
* **df.to_sql(table_name, connection_object) |** Write to a SQL table
* **df.to_json(filename) |** Write to a file in JSON format

# **Viewing/Inspecting Data**
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

* **dtypes()**	Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
* **columns()**	Method returns the column labels of the DataFrame
* **sample()**	Method pulls out a random sample of rows or columns from a DataFrame
* **values()**	Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed
* **df.head(n) |** First n rows of the DataFrame
* **df.tail(n) |** Last n rows of the DataFrame
* **df.shape |** Number of rows and columns
* **df.info() |** Index, Datatype and Memory information
* **df.describe() |** Summary statistics for numerical columns
* **s.value_counts(dropna=False) |** View unique values and counts
* **df.apply(pd.Series.value_counts) |** Unique values and counts for all columns
* **df.count()** | Count non-NA cells for each column or row.
* **df.size()** | Return an int representing the number of elements in this object.

# **Statistics**
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)

* **df.describe() |** Summary statistics for numerical columns
* **df.mean() |** Returns the mean of all columns
* **df.corr() |** Returns the correlation between columns in a DataFrame
* **df.count() |** Returns the number of non-null values in each DataFrame column
* **df.max() |** Returns the highest value in each column
* **df.min() |** Returns the lowest value in each column
* **df.median() |** Returns the median of each column
* **df.std() |** Returns the standard deviation of each column

# **Selection**
Use these commands to select a specific subset of your data.

* **df[col] |** Returns column with label col as Series
* **df[[col1, col2]] |** Returns columns as a new DataFrame
* **s.iloc[0] |** Selection by position
* **s.loc['index_one'] |** Selection by index
* **df.iloc[0,:] |** First row
* **df.iloc[0,0] |** First element of first column
* **loc[]**	Method retrieves rows based on index label
* **iloc[]**	Method retrieves rows based on index position
* **ix[]**	Method retrieves DataFrame rows based on either index label or index position. This method combines the best features of the .loc[] and .iloc[] methods

# **Copy**
* **copy()**  Method creates an independent copy of a pandas object
___________
________
--------------------------------------------------------------------
---------------------------------------------------------------------
--------------------------------------------------------------------
-----------------------------------------------------------------
--------------------------------------------------------------------

* **axes()**	Method returns a list representing the axes of the DataFrame
* **isin()**	Method extracts rows from a DataFrame where a column value exists in a predefined collection ****
* **astype()**	Method converts the data types in a Series
* **ndim()**	Method returns an ‘int’ representing the number of axes / array dimensions.
Returns 1 if Series, otherwise returns 2 if DataFrame

In [ ]:
# Connect the google drive with google Colab

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# **Importing Data**
Use these commands to import data from a variety of different sources and formats.

* **pd.read_csv(filename) |** From a CSV file
* **pd.read_table(filename) |** From a delimited text file (like TSV)
* **pd.read_excel(filename) |** From an Excel file
* **pd.read_sql(query, connection_object) |** Read from a SQL table/database
* **pd.read_json(json_string) |** Read from a JSON formatted string, URL or file.
* **pd.read_html(url) |** Parses an html URL, string or file and extracts tables to a list of dataframes
* **pd.read_clipboard() |** Takes the contents of your clipboard and passes it to read_table()
* **pd.DataFrame(dict) |** From a dict, keys for columns names, values for data as lists

In [ ]:
import pandas as pd

In [ ]:
#Using csv
df = pd.read_csv("/content/drive/MyDrive/Python/pandas/3_creating_dataframe/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
#Using excel
df=pd.read_excel("/content/drive/MyDrive/Python/pandas/3_creating_dataframe/weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

# **Exporting Data**
Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

* **df.to_csv(filename) |** Write to a CSV file
* **df.to_excel(filename) |** Write to an Excel file
* **df.to_sql(table_name, connection_object) |** Write to a SQL table
* **df.to_json(filename) |** Write to a file in JSON format

##### <font color="blue">Write to CSV</color>
Pandas DataFrame to_csv() function converts DataFrame into CSV data. We can pass a file object to write the CSV data into a file. Otherwise, the CSV data is returned in the string format.
##### <font color="blue">Write to Excel</color>
The to_excel() method is used to export the DataFrame to the excel file. To write a single object to the excel file, we have to specify the target file name.

### **DataFrame**
* pd.DataFrame( dictionary_data )

In [ ]:
#Using dictionary
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
# How to make a DataFrame using Dictanary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
#Using list of dictionaries
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
#Using tuples list
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### **Header Operation**

In [ ]:
# Skip the first row---

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.csv", skiprows=1)
df

In [ ]:
# skiprows and header are kind of same

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.csv", header=1) 
df

In [ ]:
# Missing header in CSV File

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.csv", header=None, names = ["ticker","eps","revenue","people"])
df

In [ ]:
# N number of rows want to see

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.csv",  nrows=2)
df

In [ ]:
# Data Cleaning- Clean garvage values with (NaN)

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.csv", na_values=["n.a.", "not available"])
df

In [ ]:
# # Data Cleaning-  with dict (NaN)--> revenue: [-1] 

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })
df

In [ ]:
#Write to CSV
#Pandas DataFrame to_csv() function converts DataFrame into CSV data. We can pass a file object to write the CSV data into a file. Otherwise, the CSV data is returned in the string format.
#

In [ ]:
df.to_csv("new.csv", index=False)

In [ ]:
df.columns

In [ ]:
df.to_csv("new.csv",header=False)

In [ ]:
df.to_csv("new.csv", columns=["tickers","price"], index=False)

In [ ]:
# Read Excel

df = pd.read_excel("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.xlsx","Sheet1")
df

In [ ]:
#Data cleaning using Dictionary ---(converters)

def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

In [ ]:
def convert_price_cell(cell):
    if cell=="n.a.":
        return 50
    return cell

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/stock_data.xlsx","Sheet1", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell
    })
df

In [ ]:
#Write to Excel
#The to_excel() method is used to export the DataFrame to the excel file. To write a single object to the excel file, we have to specify the target file name.

df.to_excel("/content/drive/MyDrive/Python/pandas/4_read_write_to_excel/new.xlsx", 
            sheet_name="stocks", index=False, startrow=2, startcol=1)

In [ ]:
#Write two dataframes to two separate sheets in excel

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

In [ ]:
df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [ ]:
with pd.ExcelWriter('//stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")

# **Viewing/Inspecting Data**
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

* **dtypes()**	Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
* **columns()**	Method returns the column labels of the DataFrame
* **sample()**	Method pulls out a random sample of rows or columns from a DataFrame
* **values()**	Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed
* **df.head(n) |** First n rows of the DataFrame
* **df.tail(n) |** Last n rows of the DataFrame
* **df.shape |** Number of rows and columns
* **df.info() |** Index, Datatype and Memory information
* **df.describe() |** Summary statistics for numerical columns
* **s.value_counts(dropna=False) |** View unique values and counts
* **df.apply(pd.Series.value_counts) |** Unique values and counts for all columns

In [ ]:
#df = pd.read_csv('/content/drive/MyDrive/Python/pandas/1_intro/nyc_weather.csv')

# Dictanary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [ ]:
df.sample()

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow

In [ ]:
df.values

array([['1/1/2017', 32, 6, 'Rain'],
       ['1/2/2017', 35, 7, 'Sunny'],
       ['1/3/2017', 28, 2, 'Snow'],
       ['1/4/2017', 24, 7, 'Snow'],
       ['1/5/2017', 32, 4, 'Rain'],
       ['1/6/2017', 31, 2, 'Sunny']], dtype=object)

In [ ]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
df.head(2)           #df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [ ]:
df.tail(2)           #df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.shape            #rows,columns = df.shape

(6, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [ ]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
#df.value_counts(dropna=False)
df.value_counts()

day       temperature  windspeed  event
1/6/2017  31           2          Sunny    1
1/5/2017  32           4          Rain     1
1/4/2017  24           7          Snow     1
1/3/2017  28           2          Snow     1
1/2/2017  35           7          Sunny    1
1/1/2017  32           6          Rain     1
dtype: int64

In [ ]:
df.apply(pd.Series.value_counts)

          day  temperature  windspeed  event
2         NaN          NaN        2.0    NaN
4         NaN          NaN        1.0    NaN
6         NaN          NaN        1.0    NaN
7         NaN          NaN        2.0    NaN
24        NaN          1.0        NaN    NaN
28        NaN          1.0        NaN    NaN
31        NaN          1.0        NaN    NaN
32        NaN          2.0        NaN    NaN
35        NaN          1.0        NaN    NaN
1/1/2017  1.0          NaN        NaN    NaN
1/2/2017  1.0          NaN        NaN    NaN
1/3/2017  1.0          NaN        NaN    NaN
1/4/2017  1.0          NaN        NaN    NaN
1/5/2017  1.0          NaN        NaN    NaN
1/6/2017  1.0          NaN        NaN    NaN
Rain      NaN          NaN        NaN    2.0
Snow      NaN          NaN        NaN    2.0
Sunny     NaN          NaN        NaN    2.0

# **Statistics**
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)


* **df.describe() |** Summary statistics for numerical columns
* **df.mean() |** Returns the mean of all columns
* **df.corr() |** Returns the correlation between columns in a DataFrame
* **df.count() |** Returns the number of non-null values in each DataFrame column
* **df.max() |** Returns the highest value in each column
* **df.min() |** Returns the lowest value in each column
* **df.median() |** Returns the median of each column
* **df.std() |** Returns the standard deviation of each column

In [ ]:
# Dictanary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:

df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
print('count-',             df.count()  )
print('max-',               df.max()    )                   # How to get max value from a column--- (Ex- Maximum Temp)
print('min-',               df.min()    )
print('mean-',              df.mean()   )
print('median-',            df.median() )
print('corr-',              df.corr()   )
print('standard deviation-',df.std()    )

count- day            6
temperature    6
windspeed      6
event          6
dtype: int64
max- day            1/6/2017
temperature          35
windspeed             7
event             Sunny
dtype: object
min- day            1/1/2017
temperature          24
windspeed             2
event              Rain
dtype: object
mean- temperature    30.333333
windspeed       4.666667
dtype: float64
median- temperature    31.5
windspeed       5.0
dtype: float64
corr-              temperature  windspeed
temperature     1.000000   0.037226
windspeed       0.037226   1.000000
standard deviation- temperature    3.829708
windspeed      2.338090
dtype: float64

In [ ]:
# Use condition

print('max-',               df['temperature'].max()  )                   # How to get max value from a column--- (Ex- Maximum Temp)
print('min-',               df['temperature'].min()  )
print('mean-',              df['temperature'].mean() )
print('standard deviation-',df['temperature'].std()  )

max- 35
min- 24
mean- 30.333333333333332
standard deviation- 3.8297084310253524

# **Selection**
Use these commands to select a specific subset of your data.

* **df[col] |** Returns column with label col as Series
* **df[[col1, col2]] |** Returns columns as a new DataFrame
* **s.loc['index_one'] |** Selection by index
* **s.iloc[0] |** Selection by position
* **df.iloc[0,:] |** First row
* **df.iloc[0,0] |** First element of first column
* **loc[]**	Method retrieves rows based on index label
* **iloc[]**	Method retrieves rows based on index position
* **ix[]**	Method retrieves DataFrame rows based on either index label or index position. This method combines the best features of the .loc[] and .iloc[] methods

In [ ]:
#df = pd.read_csv('/content/drive/MyDrive/Python/pandas/1_intro/nyc_weather.csv')

# Dictanary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
# type

#type(df['day'])

In [ ]:
#df['Temperature'] # or df.day

In [ ]:
# Select Columns of your choise

df[['day','temperature', 'event']]

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [ ]:
# Print particular rows--
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [ ]:
df.iloc[0,0]          # First element of first column

'1/1/2017'

In [ ]:
#df.iloc[0,:]
df.iloc[::,1:3]

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [ ]:
df.iloc[:,[0,1,2,3]]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
# Read a dataframe

df = pd.read_csv("/content/drive/MyDrive/Python/pandas/2_dataframe_basics/weather_data.csv")
df

In [ ]:

df.loc['1/2/2017']

df.loc['Snow']

# **Copy**
* **copy()**  Method creates an independent copy of a pandas object

___
___
___
# **Melt**
___
___
___

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Python/pandas/11_melt/weather.csv")
df

In [ ]:
melted = pd.melt(df, id_vars=["day"], var_name='city', value_name='temperature')
melted

___
___
___
# **Stock**
___
___
___

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Python/pandas/12_stack/stocks.xlsx",header=[0,1])
df

In [ ]:
df.stack()

In [ ]:
df.stack(level=0)

In [ ]:
df_stacked=df.stack()
df_stacked

In [ ]:
df_stacked.unstack()

In [ ]:
df2 = pd.read_excel("/content/drive/MyDrive/Python/pandas/12_stack/stocks_3_levels.xlsx",header=[0,1,2])
df2

In [ ]:
df2.stack()

In [ ]:
df2.stack(level=0)

In [ ]:
df2.stack(level=1)

___
___
___
## **CrossTab**
___
___
___

In [ ]:
import pandas as pd
df = pd.read_excel("survey.xls")
df

In [ ]:

pd.crosstab(df.Nationality,df.Handedness)

In [ ]:

pd.crosstab(df.Sex,df.Handedness)

In [ ]:
# Margins
pd.crosstab(df.Sex,df.Handedness, margins=True)

In [ ]:
# Multi Index Column and Rows
pd.crosstab(df.Sex, [df.Handedness,df.Nationality], margins=True)

In [ ]:
# 
pd.crosstab([df.Nationality, df.Sex], [df.Handedness], margins=True)

In [ ]:
# Normalize
pd.crosstab(df.Sex, df.Handedness, normalize='index')

In [ ]:
# Aggfunc and Values
import numpy as np
pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.average)

___
___
___
# **DatetimeIndex**
___
___
___

In [ ]:
import pandas as pd
df = pd.read_csv("aapl.csv",parse_dates=["Date"], index_col="Date")
df.head(2)

In [ ]:

df.index

In [ ]:
# What is DatetimeIndex? Benefits of it
# Partial Date Index: Select Specific Months Data
df['2017-06-30']

In [ ]:

df["2017-01"]

In [ ]:

df['2017-06'].head()

In [ ]:

df['2017-06'].Close.mean()

In [ ]:

df['2017'].head(2)

In [ ]:
# Select Date Range
df['2017-01-08':'2017-01-03']

In [ ]:

df['2017-01']

In [ ]:
# Resampling
df['Close'].resample('M').mean().head()

In [ ]:

df['2016-07']

In [ ]:
%matplotlib inline
df['Close'].plot()

In [ ]:
df['Close'].resample('M').mean().plot(kind='bar')

___
___
___
...
___
___
___

In [ ]:
df = pd.read_csv("aapl_no_dates.csv")
df.head()

In [ ]:
rng = pd.date_range(start="6/1/2016",end="6/30/2016",freq='B')
rng

In [ ]:
df.set_index(rng, inplace=True)
df.head()

In [ ]:
# Finding missing dates from datetimeindex
daily_index = pd.date_range(start="6/1/2016",end="6/30/2016",freq='D')
daily_index

In [ ]:

daily_index.difference(df.index)

In [ ]:
# Benefits of having DatetimeIndex
%matplotlib inline
df.Close.plot()

In [ ]:
df["2016-06-01":"2016-06-10"].Close.mean()

In [ ]:
# asfreq
df.index

In [ ]:
df.asfreq('D',method='pad')

In [ ]:

df.asfreq('W',method='pad')

In [ ]:

df.asfreq('H',method='pad')

In [ ]:
# generating DatetimeIndex with periods argument
rng = pd.date_range('1/1/2011', periods=72, freq='H')
rng

In [ ]:
import numpy as np
ts = pd.Series(np.random.randint(0,10,len(rng)), index=rng)
ts.head(20)

___
___
___

In [ ]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df.head()

In [ ]:
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')
rng

In [ ]:
#Using 'B' frequency is not going to help because 4th July was holiday and 'B' is not taking that into account. It only accounts for weekends
#Using CustomBusinessDay to generate US holidays calendar frequency

from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

In [ ]:
df.set_index(rng,inplace=True)
df.head()

You can define your own calendar using AbstractHolidayCalendar as shown below. USFederalHolidayCalendar is the only calendar available in pandas library and it serves as an example for those who want to write their own custom calendars. Here is the link for USFederalHolidayCalendar implementation https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/holiday.py

In [ ]:
# AbstractHolidayCalendar
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=15),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

In [ ]:
# CustomBusinessDay
# Weekend in egypt is Friday and Saturday. Sunday is just a normal weekday and you can handle this custom week 
# schedule using CystomBysinessDay with weekmask as shown below

egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

In [ ]:
# You can also add holidays to this custom business day frequency

b = CustomBusinessDay(holidays=['2017-07-04', '2017-07-10'], weekmask=egypt_weekdays)
pd.date_range(start="7/1/2017",periods=20,freq=b)

In [ ]:
# Mathematical operations on date object using custom business day
from datetime import datetime
dt = datetime(2017,7,9)
dt

In [ ]:
dt + 1*b

___
___
___

In [ ]:
import pandas as pd
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

In [ ]:
dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dt)

In [ ]:
# European style dates with day first
pd.to_datetime('30-12-2016')

In [ ]:

pd.to_datetime('5-1-2016', dayfirst=True)

In [ ]:
# Custom date time format
pd.to_datetime('2017$01$05', format='%Y$%m$%d')

In [ ]:
pd.to_datetime('2017#01#05', format='%Y#%m#%d')

In [ ]:
# Handling invalid dates

pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore')

In [ ]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce')

In [ ]:
# Epoch or Unix time means number of seconds that have passed since Jan 1, 1970 00:00:00 UTC time
current_epoch = 1501324478
pd.to_datetime(current_epoch, unit='s')

In [ ]:
pd.to_datetime(current_epoch*1000, unit='ms')

In [ ]:
t = pd.to_datetime([current_epoch], unit='s')
t

In [ ]:
t.view('int64')

Pandas Time Series Analysis: Period and PeriodIndex
___
___
___

In [ ]:
import pandas as pd
y = pd.Period('2016')
y

In [ ]:
# Yearly Period
y.start_time

In [ ]:
y.end_time

In [ ]:
y.is_leap_year

In [ ]:
# Monthly Period
m = pd.Period('2017-12')
m

In [ ]:
m.start_time

In [ ]:
m.end_time

In [ ]:
m+1

In [ ]:
# Daily Period
d = pd.Period('2016-02-28', freq='D')
d

In [ ]:
d.start_time

In [ ]:
d.end_time

In [ ]:
d+1

In [ ]:
# Hourly Period
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

In [ ]:
h+1

In [ ]:
# Achieve same results using pandas offsets hour
h+pd.offsets.Hour(1)

In [ ]:
# Quarterly Period
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

In [ ]:
q1.start_time

In [ ]:
q1.end_time

In [ ]:
# Use asfreq to convert period to a different frequency
q1.asfreq('M',how='start')

In [ ]:
q1.asfreq('M',how='end')

In [ ]:
# Weekly Period
w = pd.Period('2017-07-05',freq='W')
w

In [ ]:
w-1

In [ ]:
w2 = pd.Period('2017-08-15',freq='W')
w2

In [ ]:
w2-w

In [ ]:
r = pd.period_range('2011', '2017', freq='q')
r

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

In [ ]:
# Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017
r = pd.period_range('2011', '2017', freq='q-jan')
r

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

In [ ]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

In [ ]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

In [ ]:
# Partial Indexing
ps['2016']

In [ ]:
ps['2016':'2017']

In [ ]:
pst = ps.to_timestamp()
pst

In [ ]:
pst.index

In [ ]:
ps = pst.to_period()
ps

In [ ]:
ps.index

In [ ]:
# Processing Wal Mart's Financials
import pandas as pd
df = pd.read_csv("wmt.csv")
df

In [ ]:
df.set_index("Line Item",inplace=True)
df = df.T
df

In [ ]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

In [ ]:
df.index

In [ ]:
df.index[0].start_time

In [ ]:
# Add start date end date columns to dataframe
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

In [ ]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Pandas Time Series Analysis: Handling Time Zones

We live in a world with different timezones. If you are having morning coffee in new york at 9 AM it might be a time for dinner in Mumbai, India because it would be 6.30 PM there. Handling time zone could become necessity while doing time series analysis in Pandas
___
___
___

In [ ]:
import pandas as pd
df = pd.read_csv("msft.csv", header=1,index_col='Date Time',parse_dates=True)
df

In [ ]:
df.index

In [ ]:
Two types of datetimes in python
Naive (no timezone awareness)
Timezone aware datetime
Convert naive DatetimeIndex to timezone aware DatetimeIndex using tz_localize

df.tz_localize(tz='US/Eastern')
df

In [ ]:
df.index = df.index.tz_localize(tz='US/Eastern')
df.index

In [ ]:
# Convert to Berlin time using tz_convert
df = df.tz_convert('Europe/Berlin')
df

In [ ]:
df.index

In [ ]:
from pytz import all_timezones
print (all_timezones)

In [ ]:
# Convert to Mumbai time
df.index = df.index.tz_convert('Asia/Calcutta') # tz database doesn't have any Mumbai timezone but calcutta and mumbai are both in same timezone so we will use that
df

In [ ]:
# Using timezones in date_range
# (1) timezone using pytz
london = pd.date_range('3/6/2012 00:09:00', periods=10, freq='H',tz='Europe/London')
london

In [ ]:
# (2) timezone using dateutil
td = pd.date_range('3/6/2012 00:00', periods=10, freq='H',tz='dateutil/Europe/London')
td

In [ ]:
# Pandas documentation indicates that difference between pytz timezone and dateutil timezones is
# In pytz you can find a list of common (and less common) time zones using from pytz import common_timezones, all_timezones
# dateutil uses the OS timezones so there isn’t a fixed list available. For common zones, the names are the same as pytz

rng = pd.date_range(start="2017-08-22 09:00:00",periods=10, freq='30min')
s = pd.Series(range(10),index=rng)
s

In [ ]:
b = s.tz_localize(tz="Europe/Berlin")
b

In [ ]:
b.index

In [ ]:
m = s.tz_localize(tz="Asia/Calcutta")
m.index

In [ ]:
m

In [ ]:
# It will first convert individual timezones to UTC and then align datetimes to perform addition/subtraction etc. operations
b + m

___
___
___

In [ ]:
import pandas as pd
df = pd.read_csv("fb.csv",parse_dates=['Date'],index_col='Date')
df

In [ ]:
# Shift
df.shift(1)

In [ ]:
df.shift(-1)

In [ ]:
df['Prev Day Price'] = df['Price'].shift(1)
df

In [ ]:
df['Price Change'] = df['Price'] - df['Prev Day Price']
df

In [ ]:
df['5 day return'] =  (df['Price'] - df['Price'].shift(5))*100/df['Price'].shift(5)
df

In [ ]:
df = df[['Price']]
df

In [ ]:
# tshift
df.index

In [ ]:
df.index = pd.date_range(start='2017-08-15',periods=10, freq='B')
df

In [ ]:
df.index

In [ ]:
df.tshift(1)